<ion-header>
    <ion-navbar mode="wp">
    </ion-navbar>
</ion-header>


<ion-content class="handifyBg">

    <p style="text-align: center; color: white; font-size: 16px">
        Event list for
        <span *ngIf="month == 5"> May </span>
        <span *ngIf="month == 6"> June </span>
        <span *ngIf="month == 7"> July </span>
        2017
    </p>

    <div class="calendarTransparent" mode="wp" *ngFor="let event of eventList">
        <ion-card *ngIf="month == event?.month">
            <ion-card-header style="white-space: normal">
                {{event?.userName}} | {{event?.startTime}}-{{event?.endTime}} | {{event.day}}/{{event.month}}
            </ion-card-header>
            <ion-card-content style="white-space: normal">
                Note: <i>"{{event?.note}}"</i>
                <br>
                <br>
                <span *ngIf="!event?.blueStampedByCoordinator"><strong>Not approved by coordinator</strong></span>
                <span *ngIf="event?.blueStampedByCoordinator"><strong>Approved by coordinator</strong></span>

            </ion-card-content>
        </ion-card>
    </div>

    <div class="calendarTransparent" mode="wp" *ngFor="let event of eventListTwo">
        <ion-card *ngIf="month == event?.month">
            <ion-card-header style="white-space: normal">
                {{event?.userName}} | {{event?.startTime}}-{{event?.endTime}} | {{event.day}}/{{event.month}}
            </ion-card-header>
            <ion-card-content style="white-space: normal">
                Note: <i>"{{event?.note}}"</i>
                <br>
                <br>
                <span *ngIf="!event?.blueStampedByCoordinator"><strong>Not approved by coordinator</strong></span>
                <span *ngIf="event?.blueStampedByCoordinator"><strong>Approved by coordinator</strong></span>

            </ion-card-content>
        </ion-card>
    </div>

</ion-content>