// Vi kalder ALT vores css for "navn+Page+hvad den gør"
//
// Eksempler:
//
// .homePageBackground
// .homePageHeaderText
// .homePageTransparentButton
//
//
// Vigtigt at vi holer det nemt og overskueligt!


.additionalInfoTwoProfilePicture {
    width: 220px;
}

.additionalInfoPageButton {
      border: 1px solid white;
background-color: transparent;
  color: white;
}