<ion-header>
    <ion-navbar mode="wp">
    </ion-navbar>
</ion-header>



<ion-content padding class="handifyBg">
    <ion-grid text-center>
        <ion-row>
            <ion-col col-24>
                <p style="text-align: center; color: white; font-size: 16px">
                    Creating an event for&nbsp;
                    <span *ngIf="month == 5"><strong>May</strong></span>
                    <span *ngIf="month == 6"><strong>June</strong></span>
                    <span *ngIf="month == 7"><strong>July</strong></span> &nbsp;
                    <strong>{{day}}</strong>
                </p>
            </ion-col>
        </ion-row>
        <ion-row class="rowSpace33">&nbsp;</ion-row>

        <form [formGroup]="eventForm" (submit)="addNewEvent()">
            <ion-list no-lines mode="ios">
                <ion-row>
                    <ion-col col-2>
                    </ion-col>
                    <ion-col col-20>
                        <ion-item mode="ios" class="signUpTransparent">
                            <button ion-button item-left class="backButton" mode="ios"><ion-icon name="md-clock" class="signUpColorLock"></ion-icon>
              <h6 *ngIf="!eventForm.controls.start.touched" class="additionalInfoDateText">Start time</h6></button>
                            <ion-datetime color="primary" displayFormat="HH.mm" minuteValues="0,10,20,30,40,50" #datepicker mode="ios" class="additionalInfoDateTime" [(ngModel)]="startTime"
                                formControlName="start"></ion-datetime>
                        </ion-item>
                    </ion-col>
                    <ion-col col-2>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-2>
                    </ion-col>
                    <ion-col col-20>
                        <ion-item mode="ios" class="signUpTransparent">
                            <button ion-button item-left class="backButton" mode="ios"><ion-icon name="md-clock" class="signUpColorLock"></ion-icon>
          <h6 *ngIf="!eventForm.controls.end.touched" class="additionalInfoDateText">End time</h6></button>

                            <ion-datetime color="primary" displayFormat="HH.mm" minuteValues="0,10,20,30,40,50" #datepicker mode="ios" class="additionalInfoDateTime"
                                [(ngModel)]="endTime" formControlName="end"></ion-datetime>
                        </ion-item>
                    </ion-col>
                    <ion-col col-2>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-2>
                    </ion-col>
                    <ion-col col-20>
                        <ion-item mode="ios" class="signUpTransparent">
                            <button ion-button item-left class="backButton" mode="ios"><ion-icon name="ios-paper-outline" class="signUpColorLock"></ion-icon></button>
                            <ion-input formControlName="note" [(ngModel)]="eventForm.note" placeholder="Note" mode="ios" class="signUpPlaceholder"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col col-2>
                    </ion-col>
                </ion-row>
            </ion-list>
            <form [formGroup]="radioForm" (submit)="addNewEvent()">
                <ion-list no-lines mode="md" radio-group formControlName="assign" [(ngModel)]="radioForm.assign">
                    <ion-row>
                        <ion-col col-2>
                        </ion-col>
                        <ion-col col-20>
                            <p style="text-align: center; color: white; font-size: 17px;">Assign event</p>
                            <ion-item no-lines mode="md" class="calendarTransparentTwo">
                                <ion-label mode="md">Myself</ion-label>
                                <ion-radio color="lwhite" mode="md" value="{{this.userProfile.userId}}_{{this.userProfile.fullName}}"></ion-radio>
                                <!-- <ion-radio color="lwhite" value="{{this.userProfile.fullName}}"></ion-radio> -->
                            </ion-item>

                            <ion-item no-lines mode="md" class="calendarTransparentTwo" *ngFor="let helper of helperList">
                                <ion-label mode="md">{{helper?.fullName}}</ion-label>
                                <ion-radio mode="md" color="lwhite" value="{{helper?.userId}}_{{helper?.fullName}}"></ion-radio>
                                <!--<ion-radio color="lwhite" value="{{helper?.fullName}}"></ion-radio> -->
                            </ion-item>
                        </ion-col>
                        <ion-col col-2>
                        </ion-col>
                    </ion-row>
                </ion-list>
            </form>

            <ion-row>
                <ion-col col-7></ion-col>
                <ion-col col-10>
                    <button color="secondary" style="text-align: center" mode="wp" [disabled]="!eventForm.controls.end.dirty || !eventForm.controls.start.dirty || !eventForm.controls.note.dirty || !radioForm.controls.assign.dirty"
                        ion-button type="submit">Create event</button>
                </ion-col>
                <ion-col col-7></ion-col>
            </ion-row>

        </form>
    </ion-grid>
    <!--
    <ion-row style="color: white; font-size: 18px" *ngIf="eventForm.start || eventForm.end || eventForm.note">Preview</ion-row>
    <ion-card *ngIf="eventForm.start || eventForm.end || eventForm.note">
        <ion-card-header>
            <span *ngIf="radioForm.assign">{{userProfile?.fullName}}</span> | {{eventForm.start}} <span *ngIf="eventForm.start && eventForm.end">-</span> {{eventForm.end}}
        </ion-card-header>
        <ion-card-content>
            <i>{{eventForm.note}}</i>
        </ion-card-content>
    </ion-card>
    -->
</ion-content>