<ion-header>
    <ion-navbar mode="wp">
    </ion-navbar>
</ion-header>



<ion-content padding class="handifyBg">
    <ion-grid>
        <form [formGroup]="eventForm" (submit)="updateNote()">


            <ion-item mode="ios" class="signUpTransparent">
                <button ion-button item-left class="backButton" mode="ios"><ion-icon name="md-calendar" class="signUpColorLock"></ion-icon>
              <h6 *ngIf="!eventForm.controls.date.touched" class="additionalInfoDateText">{{day}}-{{month}}-2017</h6></button>

                <ion-datetime color="primary" displayFormat="DD.MM.YYYY" #datepicker mode="ios" class="additionalInfoDateTime" [(ngModel)]="eventForm.date"
                    formControlName="date"></ion-datetime>
            </ion-item>

            <ion-item mode="ios" class="signUpTransparent">
                <button ion-button item-left class="backButton" mode="ios"><ion-icon name="md-clock" class="signUpColorLock"></ion-icon>
              <h6 *ngIf="!eventForm.controls.start.touched" class="additionalInfoDateText">Start time</h6></button>

                <ion-datetime color="primary" displayFormat="HH.mm" #datepicker mode="ios" class="additionalInfoDateTime" [(ngModel)]="eventForm.start"
                    formControlName="start"></ion-datetime>
            </ion-item>

            <ion-item mode="ios" class="signUpTransparent">
                <button ion-button item-left class="backButton" mode="ios"><ion-icon name="md-clock" class="signUpColorLock"></ion-icon>
              <h6 *ngIf="!eventForm.controls.end.touched" class="additionalInfoDateText">End time</h6></button>

                <ion-datetime color="primary" displayFormat="HH.mm" #datepicker mode="ios" class="additionalInfoDateTime" [(ngModel)]="eventForm.end"
                    formControlName="end"></ion-datetime>
            </ion-item>

            <ion-item mode="ios" class="signUpTransparent">
                <button ion-button item-left class="backButton" mode="ios"><ion-icon name="ios-paper-outline" class="signUpColorLock"></ion-icon></button>
                <ion-input formControlName="note" [(ngModel)]="eventForm.note" placeholder="Note" mode="ios" class="signUpPlaceholder"></ion-input>
            </ion-item>
            <ion-row>
                <ion-col col-7></ion-col>
                <ion-col col-10>
                    <button color="secondary" style="text-align: center" mode="wp" [disabled]="!eventForm.controls.end.dirty || !eventForm.controls.start.dirty || !eventForm.controls.date.dirty || !eventForm.controls.note.dirty"
                        ion-button type="submit">Create event</button>
                </ion-col>
                <ion-col col-7></ion-col>
            </ion-row>
        </form>
    </ion-grid>

        <ion-row>
        <ion-row>Creating an event for</ion-row>
        <ion-row *ngIf="month == 1">May</ion-row>
        <ion-row *ngIf="month == 2">June</ion-row>
        <ion-row *ngIf="month == 3">July</ion-row>
        <ion-row>&nbsp;{{day}}</ion-row>
    </ion-row>

    <ion-card>
        <ion-card-header>
            {{userProfile?.fullName}} - {{eventForm.start}} - {{eventForm.end}}
        </ion-card-header>
        <ion-card-content>
            <i>{{eventForm.note}}</i>
        </ion-card-content>
    </ion-card>
</ion-content>