<!--
  
  To do:

  BJØRN:
    Hjælperen skal kunne unassigne sig selv fra en koordinater

  MATHIAS:
    Når man editer et event skal man vælge tidspunkt forfra. Måske kan vi sende den med som navParam?

  I AFTEN:
  1. Vi mangler at kunne læse andre personers events, men kun de events som har samme userId som et userId der er assignedTo en selv.. how the fuck?
  2. Hvis der er et event på dagen skal dagen være med <strong> skrift. tror man skal læse fra hele databasen og finde alt i kalenderen 
    (jeg kan nok godt lave det alene hvis vi kan få etteren til at virke)
  3. Profilbillede

  EKSTRA: 
  1. Man kan kun være assigned til en coordinator ad gangen. kan man evt. lave string array i stedet for bare en string?
  2. export firebase/kalender til excel eller email??
  3. evt facebook?
  
-->

<ion-content padding class="handifyBg">

  <ion-grid text-center>
    <ion-row>
      <ion-col col-24>
        <img src="{{userProfile?.profilePhoto}}" class="handifyProfilePhoto">
        <p class="handifyText"> {{userProfile?.fullName}}</p>
        <p *ngIf="userProfile?.userIsCoordinator" style="color: lightgrey; text-align: center; line-height: 0.2px; font-size: 12px; font-style: italic;">Coordinator</p>
        <p *ngIf="!userProfile?.userIsCoordinator" style="color: lightgrey; text-align: center; line-height: 0.2px; font-size: 12px; font-style: italic;">Helper</p>
      </ion-col>
    </ion-row>

    <ion-row class="rowSpace40">&nbsp;</ion-row>

    <ion-list mode="ios" no-lines *ngIf="!userProfile?.userIsCoordinator">
      <ion-row *ngFor="let p of helperPages">
        <ion-col col-2>
        </ion-col>
        <ion-col col-20>
          <button [style.background-color]="p.color" detail-none menuClose mode="ios" ion-item (click)="openPage(p)" class="handifyList">
                       <ion-icon name="{{p.icon}}"></ion-icon>  &nbsp;  {{p.title}}
                  </button>
        </ion-col>
        <ion-col col-2>
        </ion-col>
      </ion-row>
    </ion-list>

    <ion-list mode="ios" no-lines *ngIf="userProfile?.userIsCoordinator">
      <ion-row *ngFor="let p of coordinatorPages">
        <ion-col col-2>
        </ion-col>
        <ion-col col-20>
          <button [style.background-color]="p.color" detail-none menuClose mode="ios" ion-item (click)="openPage(p)" class="handifyList">
                       <ion-icon name="{{p.icon}}"></ion-icon>  &nbsp;  {{p.title}}
                  </button>
        </ion-col>
        <ion-col col-2>
        </ion-col>
      </ion-row>
      <ion-row class="rowSpace40">&nbsp;</ion-row>
      <ion-row>
        <ion-col col-24><img src="assets/img/logo.png" class="HomePageLogo" alt="Handify logo"></ion-col>
        <ion-col col-24 style="color: white" text-center>Handify - v0.0.1 </ion-col>
      </ion-row>
    </ion-list>
    <ion-row>

    </ion-row>

  </ion-grid>
</ion-content>