.whiteContainer {
    background-color: white !important;
    margin-left: -18px;
    margin-right: -18px;
}

.profilePhoto {
    width:140px;
    height:140px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: -50px;
}

.profileMargin {

    text-align: left;
    line-height: 0.7em;

}

.profileInfo {
 font-size: 12px;  
  
}

.editButton {
    width: 140px;
    height: 24px;
    margin-left: 109px;
    margin-top: -5px;
    background-color: #D96A68;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.editButtonProfile {
      width: 150px;
    height: 25px;
    margin-left: 29px;
    background-color: #E57401;
}

.editIcon {
    color: #D96A68;
    font-size: 25px;
}

.editIcon2 {
     background-color: transparent !important;
}

.settingsIcon {
    color: white;
    font-size: 30px;
}
.settingsButton {
    background-color: transparent !important;
    text-align: right;
    margin-left: 235px;
}

.calendarItem {

color: black !important;
font-size: 13px;
white-space: normal;
overflow: inherit; 
text-overflow: inherit;
}
