.whiteContainer {
    background-color: white !important;
    margin-left: -18px;
    margin-right: -18px;
}

.profilePhoto {
    width:150px;
    height:150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: -70px;
}

.profileMargin {
    margin-top: -110px;
    text-align: left;
    line-height: 0.7em;

}

.profileInfo {
 font-size: 12px;   
}

.editButton {
    width: 150px;
    height: 25px;
    margin-top: -4px;
    margin-left: 29px;
    background-color: #D96A68;
}

.editIcon {
    color: black;
    font-size: 30px;
}

.editIcon2 {
    margin-top: -11px;
    background-color: transparent !important;
}