// Vi kalder ALT vores css for "navn+Page+hvad den gør"
//
// Eksempler:
//
// .homePageBackground
// .homePageHeaderText
// .homePageTransparentButton
//
//
// Vigtigt at vi holer det nemt og overskueligt!

.whiteContainer {
    background-color: white !important;
    margin-left: -18px;
    margin-right: -18px;
}

.profilePhoto {
    width:150px;
    height:150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: -70px;
}

.profileMargin {
    margin-top: -90px;
    text-align: left;
    line-height: 0.7em;
    margin-left: -4px;
}