// Vi kalder ALT vores css for "navn+Page+hvad den gør"
//
// Eksempler:
//
// .homePageBackground
// .homePageHeaderText
// .homePageTransparentButton
//
//
// Vigtigt at vi holer det nemt og overskueligt!

page-home {

}

.homePageLogInBg {
background-color: red;
margin-left: -20px;
margin-right: -20px;
height: 120px;
margin-bottom: -60px;
margin-top: -20px;
}
.homePageSignUpBg {
background-color: blue;
margin-left: -20px;
margin-right: -20px;
height: 120px;
}
.HomePageLogIn {
    background-color: transparent;
    color: white;
    border-width: 1px;
    font-size: 30px;
}

.HomePageSignUp {
    background-color: transparent;
    color: white;
    border-width: 1px;
        font-size: 30px;
}

.HomePageLogo {
    height: 50px;
}
