// Vi kalder ALT vores css for "navn+Page+hvad den gør"
//
// Eksempler:
//
// .homePageBackground
// .homePageHeaderText
// .homePageTransparentButton
//
//
// Vigtigt at vi holer det nemt og overskueligt!

page-home {

}

.HomePageLogo {
    height: 50px;
}

.HomePageFacebook {
    background-color: #3B5998;
}

.HomePageFacebookIcon {
padding-right: 10px;
font-size: 25px

}
.HomePageFacebookText {
font-size: 15px;
padding-top: 1px;
}


.homePageLogInBg {
}
.homePageSignUpBg {
}
.HomePageLogIn {
font-size: 15px;
padding-top: 1px;
}

.HomePageSignUp {
font-size: 15px;
padding-top: 1px;
}

