// Vi kalder ALT vores css for "navn+Page+hvad den gør"
//
// Eksempler:
//
// .homePageBackground
// .homePageHeaderText
// .homePageTransparentButton
//
//
// Vigtigt at vi holer det nemt og overskueligt!

page-home {

}

.HomePageButtons {
}

.HomePageSignUp {
    color:black;
    border-color: black;
    border-width: 1px;
    background-color: transparent;
}

.HomePageLogIn {
    background-color: $light;
    color: $primary;
    border-color: $secondary;
    border-width: 1px;
}
