<ion-content padding class="signUpBg">


  <button mode="ios" ion-button class="backButton" (click)="backToPreviousPage()"><img src="./assets/img/back.png" class="signUpBackButton">
    </button>

  <ion-grid text-center>
    <ion-row>
      <ion-col col-24><img src="assets/img/logo.png" class="HomePageLogo"></ion-col>
    </ion-row>
    <ion-row class="rowSpace50">&nbsp;</ion-row>
    <ion-row>
      <ion-col style="color:white">Sign up to Handify™</ion-col>
    </ion-row>
    <ion-row class="rowSpace33">&nbsp;</ion-row>


    <form [formGroup]="signupForm" (submit)="signUpUser()">
      <ion-list no-lines mode="ios">
<ion-row>
          <ion-col col-2></ion-col>
          <ion-col col-20>
            <ion-item mode="ios" class="signUpTransparent">
              <button ion-button item-left class="backButton" mode="ios">
  <ion-icon name="md-person" class="signUpColorLock"></ion-icon>
    </button>
              <ion-input mode="ios" placeholder="First name" class="signUpPlaceholder" [(ngModel)]="userInfo.first" formControlName="first"
                type="name"></ion-input>
            </ion-item>
            <p *ngIf="!isValid('first') && signupForm.controls.first.touched" class="signUpInValid">Please enter a valid name</p>
          </ion-col>
          <ion-col col-2></ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-2></ion-col>
          <ion-col col-20>
            <ion-item mode="ios" class="signUpTransparent">
              <button ion-button item-left class="backButton" mode="ios">
  <ion-icon name="md-person" class="signUpColorLock"></ion-icon>
    </button>
              <ion-input mode="ios" placeholder="Last name" class="signUpPlaceholder" [(ngModel)]="userInfo.second" formControlName="second"
                type="name"></ion-input>
            </ion-item>
            <p *ngIf="!isValid('second') && signupForm.controls.second.touched" class="signUpInValid">Please enter a valid last name</p>
          </ion-col>
          <ion-col col-2></ion-col>
        </ion-row>
<ion-row>&nbsp;</ion-row>
        <ion-row>
          <ion-col col-2>
          </ion-col>
          <ion-col col-20>
            <ion-item mode="ios" class="signUpTransparent">
              <button ion-button item-left class="backButton" mode="ios">
  <ion-icon name="ios-mail" class="signUpColor"></ion-icon>
    </button>
              <ion-input mode="ios" #email placeholder="Email" class="signUpPlaceholder" [(ngModel)]="userInfo.email" formControlName="email"
                type="email"></ion-input>
            </ion-item>
            <p *ngIf="!isValid('email') && signupForm.controls.email.touched" class="signUpInValid">Please enter a valid e-mail</p>

          </ion-col>
          <ion-col col-2>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-2>
          </ion-col>
          <ion-col col-20>
            <ion-item mode="ios" class="signUpTransparent">
              <button ion-button item-left class="backButton" mode="ios">
  <ion-icon name="md-lock" class="signUpColorLock"></ion-icon>
    </button>
              <ion-input mode="ios" #password type="password" placeholder="Password" class="signUpPlaceholder" [(ngModel)]="userInfo.password"
                formControlName="password"></ion-input>
            </ion-item>
            <p *ngIf="!isValid('password') && signupForm.controls.password.touched" class="signUpInValid">Minimum 6 characters</p>
          </ion-col>
          <ion-col col-2>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-2>
          </ion-col>
          <ion-col col-20>
            <ion-item mode="ios" class="signUpTransparent">
              <button ion-button item-left class="backButton" mode="ios">
  <ion-icon name="md-lock" class="signUpColorLock"></ion-icon>
    </button>
              <ion-input mode="ios" #password type="password" placeholder="Confirm password" class="signUpPlaceholder" [(ngModel)]="userInfo.confirmPassword"
                formControlName="confirmPassword"></ion-input>
            </ion-item>
            <p *ngIf="signupForm.controls.confirmPassword.touched && signupForm.hasError('mismatchedPasswords') && signupForm.controls.password.valid"
              class="signUpInValid">Password must match</p>
          </ion-col>
          <ion-col col-2>
          </ion-col>
        </ion-row>

        <ion-row class="rowSpace10">&nbsp;</ion-row>

        <ion-row>
          <ion-col col-6>
          </ion-col>
          <ion-col col-12>
            <button [disabled]="!signupForm.valid" mode="wp" ion-button block color="secondary" type="submit">Sign up</button>
          </ion-col>
          <ion-col col-6>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-6>
          </ion-col>
          <ion-col col-12>
            <p class="signUpConditions">By signing up you agree to the <strong><a href="#" class="signUpConditions">terms and conditions</a></strong> of the service.</p>
          </ion-col>
          <ion-col col-6>
          </ion-col>
        </ion-row>
      </ion-list>
    </form>
  </ion-grid>
</ion-content>