// Vi kalder ALT vores css for "navn+Page+hvad den gør"
//
// Eksempler:
//
// .homePageBackground
// .homePageHeaderText
// .homePageTransparentButton
//
//
// Vigtigt at vi holer det nemt og overskueligt!

.signUpBg {
background: rgb(105,191,149); 
background: -moz-linear-gradient(top,  rgba(105,191,149,1) 0%, rgba(5,156,186,1) 100%);
background: -webkit-linear-gradient(top,  rgba(105,191,149,1) 0%,rgba(5,156,186,1) 100%); 
background: linear-gradient(to bottom,  rgba(105,191,149,1) 0%,rgba(5,156,186,1) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#69bf95', endColorstr='#059cba',GradientType=0 );
}

.signUpTransparent {
background: rgba(0,0,0,0.06);
}

.signUpBackButton {
width: 20px;
height: 20px;
}

.signUpColor {
color: white;
font-size: 20px;
margin-left: -1px;
padding-right: -1em;
}
.signUpColorLock {
color: white;
font-size: 20px;
    
}

.signUpConditions {
color: #F8F8F8;
text-decoration: none;
margin-top: -2px;    
font-size: 9px;
}

.signUpInValid {
    color: white;
    text-align: left;
}