// Vi kalder ALT vores css for "navn+Page+hvad den gør"
//
// Eksempler:
//
// .homePageBackground
// .homePageHeaderText
// .homePageTransparentButton
//
//
// Vigtigt at vi holer det nemt og overskueligt!


.additionalInfoDateText {
color: white !important;
padding-left: 22px;
padding-top: -4px;
font-size: 17px !important;
}

.additionalInfoDateTime {
    color: white !important;
    margin-left: -15px;
}


.ion-datetime-picker {
  .calendar .day {
    &:hover, &.activated, &.today:hover, &.today.activated {
      background-color: #bdf;
    }
    &.today {
      background-color: #e4e4e4;
    }
    &.selected, &.selected:hover, &.selected.activated {
      background-color: $primary;
      color: white;
    }
    &.disabled, &.disabled:hover, &.disabled.activated {
      background-color: #ccc;
    }
  }
  .month-year .item-input input.ng-invalid {
    background-color: #ffe4ea;
  }
  .time {
    .colon {
      color: #999;
    }
    .item-input input.ng-invalid {
      background-color: #ffe4ea;
    }
  }
}

