// Vi kalder ALT vores css for "navn+Page+hvad den gør"
//
// Eksempler:
//
// .homePageBackground
// .homePageHeaderText
// .homePageTransparentButton
//
//
// Vigtigt at vi holer det nemt og overskueligt!

.logInFacebook {
    background-color: #3B5998;
}

.logInFacebookIcon {
padding-right: 10px;
font-size: 25px

}
.logInFacebookText {
font-size: 15px;
padding-top: 1px;
}

