$font-path: "../assets/fonts";

@import "ionic.globals";
@import "ionic.theme.default";
@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";

// Custom grid sizing
$grid-padding-width:  2px;
$grid-columns: 24;

// Custom colors
$colors: (
  // The 5 first colors are from the color scheme
  primary:            #086788,
  secondary:          #FAA613,
  tertiary:           #DD1C1A,
  lblue:              #07A0C3,
  light:              #FFF1D0,

// More colors
//lgrey:              #, NEED TO FIND A GOOD COLOR HERE
//dblue:              #,
//dgrey:              #, NEED TO FIND A GOOD COLOR HERE

);
  $primary:            #086788;
  $secondary:          #FAA613;
  $tertiary:           #DD1C1A;
  $lblue:              #07A0C3;
  $light:              #FFF1D0;
  $darkslategrey:      #2F4F4F;
  
//$lgrey
//$dblue:              #,
//$dgrey:              #, NEED TO FIND A GOOD COLOR HERE

// White text in placeholders

*::-webkit-input-placeholder {
color: $darkslategrey !important;
}
*:-moz-placeholder {
color: $darkslategrey !important;
}
*:-ms-input-placeholder { 
color: $darkslategrey !important;
}

// Default class for every ion-content
.blueBg {
    background-color: blue;
}

//Top container for every nav bar
.topContainer {
  margin-top: 35px;
}

// Basic spacing for ion-row

.rowSpace4 {
  line-height: 4px;
}
.rowSpace10 {
  line-height: 10px;
}
.rowSpace23 {
  line-height: 23px;
}
.rowSpace33 {
  line-height: 33px;
}
.rowSpace38 {
  line-height: 38px;
}
.rowSpace50 {
  line-height: 50px;
}
.rowSpace100 {
  line-height: 100px;
}
.rowSpace200 {
  line-height: 200px;
}
.rowSpace300 {
  line-height: 300px;
}
.rowSpace350  {
  line-height: 350px;
}

// Basic text sizes
.textSize14 {
font-size: 14px;
}
.textSize12 {
font-size: 12px;
}
.textSize10 {
font-size: 10px;
}
.textSize8 {
font-size: 8px;
}

// Basic text attributes
.leftAlign {
text-align: left;
}
.centerAlign {
  text-align: center;
}
.rightAlign {
  text-align: right;
}
// Basic button styles

.backButton {
  background-color: transparent !important;
  }

  .signUpPlaceholder {
color: white !important;
}

button:disabled,
button[disabled]{
  border: 1px solid white;
background-color: transparent;
  color: white;
}