<ion-header mode="wp">
  <ion-navbar mode="wp">
  </ion-navbar>
</ion-header>


<ion-content padding class="handifyBg">

  <ion-grid text-center>
    <p class="manageHeader">Connect a new helper to <i>your network</i></p>


    <form [formGroup]="connectHelperForm" (submit)="findUidByEmailAndConnectToCurrentUser()">
      <ion-list no-lines>
        <ion-item mode="ios" class="signUpTransparent">
          <button ion-button item-left class="manageIcon" mode="ios">
  <ion-icon name="ios-mail" class="signUpColor"></ion-icon>
    </button>
          <ion-input class="signUpPlaceholder" placeholder="Helper e-mail address" mode="ios" [(ngModel)]="connectHelperForm.email"
            formControlName="email" #address></ion-input>
        </ion-item>
        <br>
        <button mode="wp" ion-button [disabled]="!connectHelperForm.valid" type="submit">Connect</button>

        <p *ngIf="!isValid('email') && connectHelperForm.controls.email.touched">Please enter a valid e-mail</p>
      </ion-list>
    </form>

    <ion-row>
      <ion-col col-16>
        <p style="color: white; font-size: 19px;">Connected helpers</p>
      </ion-col>
      <ion-col col-8>
        <button ion-button item-left class="manageIcon2" mode="wp" (click)="ionViewDidEnter()">
  <ion-icon name="md-sync" class="signUpColor2"></ion-icon>
    </button>
      </ion-col>
    </ion-row>


        <ion-list mode="ios" *ngIf="userProfile?.userIsCoordinator">
          <ion-item class="manageTransparentWhite" mode="ios" *ngFor="let helper of helperList">
            <ion-row>
              <ion-col col-8>
                <img src="{{helper?.profilePhoto}}" class="managePhoto">
              </ion-col>
              <ion-col col-16>
                <h2 ><strong>{{helper?.fullName}}</strong></h2>

                <p style="color: white;">{{helper?.email}}</p>
                <p style="color: white;">{{helper?.address}}</p>
                <p style="color: white;">{{helper?.zip}} {{helper?.city}}</p>
                <!--<p>{{helper?.country}}</p>-->
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-list>
  </ion-grid>
</ion-content>