.scroll-content {
    margin-top: 0.1 !important;
  }


  .manageHeader {
      color: white;
      font-size: 15px;
  }

  .manageTransparent {
      background-color: transparent !important;
  }

 .manageTransparentWhite {
      background-color: transparent !important;
      color: white;
  }
  .manageInput {
      color:white !important;
  }

.manageIcon {
    background-color: transparent !important;
    color: black;
}

.manageIcon2 {
    background-color: transparent !important;
    color: black;
    width: 45px;
    height: 50px;
}

.signUpColor2 {
color: white;
font-size: 40px;
margin-left: -5px;
padding-right: -1em;

}

.managePhoto {
    width: 70px;
    height: 70px;
}