

.menuBackground {
background-color: #8C8C8C !important;
}
.menuLogo {
    height: 60px;
}

.menuList {
    color: white;
    text-align:left;
    font-size: 15px;
    background-color: transparent !important;
}

.menuIcons {
    margin-top: 11px;
    color: white;
    font-size: 18px;
}

