

.menuBackground {
background-color: #8C8C8C !important;
}
.menuLogo {
    height: 60px;
}

.menuList {
    color: white;
    text-align:left;
    font-size: 15px;
    background-color: transparent !important;
}

.menuIcons {
    margin-top: 10px;
    color: white;
    font-size: 18px;
}

.menuBorder {
 border: 0.1px inset rgba(250,250,250,0.4);   
}