<ion-header>
    <ion-navbar mode="wp">
    </ion-navbar>
</ion-header>


<ion-content padding class="handifyBg">
    <ion-grid>
        <form [formGroup]="editEventForm" (submit)="updateCalendarEvent()">
            <ion-list no-lines>

                <ion-row>
                    <ion-col col-24>
                        <p style="text-align: center; color: white; font-size: 17px;">Edit event</p>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col col-2>
                    </ion-col>
                    <ion-col col-20>
                        <ion-item mode="ios" class="signUpTransparent">
                            <button ion-button item-left class="backButton" mode="ios"><ion-icon name="md-clock" class="signUpColorLock"></ion-icon>
              <h6 *ngIf="!editEventForm.controls.start.touched" class="additionalInfoDateText">{{startTime}}</h6></button>

                            <ion-datetime color="primary" displayFormat="HH.mm" #datepicker mode="ios" class="additionalInfoDateTime" [(ngModel)]="editEventForm.start"
                                formControlName="start"></ion-datetime>
                        </ion-item>
                    </ion-col>
                    <ion-col col-2>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col col-2>
                    </ion-col>
                    <ion-col col-20>
                        <ion-item mode="ios" class="signUpTransparent">
                            <button ion-button item-left class="backButton" mode="ios"><ion-icon name="md-clock" class="signUpColorLock"></ion-icon>
              <h6 *ngIf="!editEventForm.controls.end.touched" class="additionalInfoDateText">{{endTime}}</h6></button>

                            <ion-datetime color="primary" displayFormat="HH.mm" #datepicker mode="ios" class="additionalInfoDateTime" [(ngModel)]="editEventForm.end"
                                formControlName="end"></ion-datetime>
                        </ion-item>
                    </ion-col>
                    <ion-col col-2>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col col-2>
                    </ion-col>
                    <ion-col col-20>
                        <ion-item mode="ios" class="signUpTransparent">
                            <button ion-button item-left class="backButton" mode="ios"><ion-icon name="ios-paper-outline" class="signUpColorLock"></ion-icon>
                    </button>
                            <ion-input formControlName="note" [(ngModel)]="editEventForm.note" value="{{note}}" mode="ios" class="signUpPlaceholder"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col col-2>
                    </ion-col>
                </ion-row>

                <br>
                <ion-row>
                    <ion-col col-24>
                        <div class="calendarEditUpdate">
                        <button color="secondary" class="calendarEditUpdate" [disabled]="!editEventForm.controls.end.dirty || !editEventForm.controls.start.dirty || !editEventForm.controls.note.dirty"
                            ion-button type="submit">Update calendar event</button>
                        </div>
                    </ion-col>
                </ion-row>

            </ion-list>
        </form>

    </ion-grid>
</ion-content>