<ion-header>
    <ion-navbar mode="wp">
    </ion-navbar>
</ion-header>


<ion-content padding class="handifyBg">
    <ion-grid>
        <form [formGroup]="editEventForm" (submit)="updateCalendarEvent()">
            <ion-list no-lines>

                <br><br><br> Editing this event: {{eventId}}

                <ion-item mode="ios" class="signUpTransparent">
                    <button ion-button item-left class="backButton" mode="ios"><ion-icon name="md-clock" class="signUpColorLock"></ion-icon>
              <h6 *ngIf="!editEventForm.controls.start.touched" class="additionalInfoDateText">Start time</h6></button>

                    <ion-datetime color="primary" displayFormat="HH.mm" #datepicker mode="ios" class="additionalInfoDateTime" [(ngModel)]="editEventForm.start"
                        formControlName="start"></ion-datetime>
                </ion-item>

                <ion-item mode="ios" class="signUpTransparent">
                    <button ion-button item-left class="backButton" mode="ios"><ion-icon name="md-clock" class="signUpColorLock"></ion-icon>
              <h6 *ngIf="!editEventForm.controls.end.touched" class="additionalInfoDateText">End time</h6></button>

                    <ion-datetime color="primary" displayFormat="HH.mm" #datepicker mode="ios" class="additionalInfoDateTime" [(ngModel)]="editEventForm.end"
                        formControlName="end"></ion-datetime>
                </ion-item>
                <ion-item mode="ios" class="signUpTransparent">
                    <button ion-button item-left class="backButton" mode="ios"><ion-icon name="ios-paper-outline" class="signUpColorLock"></ion-icon></button>
                    <ion-input formControlName="note" [(ngModel)]="editEventForm.note" placeholder="Note" mode="ios" class="signUpPlaceholder"></ion-input>
                </ion-item>


                <button [disabled]="!editEventForm.controls.end.dirty || !editEventForm.controls.start.dirty || !editEventForm.controls.note.dirty"
                    ion-button type="submit">Update calendar event</button>
            </ion-list>
        </form>

    </ion-grid>
</ion-content>