// Vi kalder ALT vores css for "navn+Page+hvad den gør"
//
// Eksempler:
//
// .homePageBackground
// .homePageHeaderText
// .homePageTransparentButton
//
//
// Vigtigt at vi holer det nemt og overskueligt!

.month {
    padding: 10px 0;
    background: #1abc9c;
    margin: 0;
}

.monthSpace {
    padding: 10px 0;
    background: #1abc9c;
    margin: 0;
    line-height: 32px;
}
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}

.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.daySelected {
    background-color: #1abc9c;
}

.dayHasEvent {
    color: red;
}

.dayHasEventandDaySelected {
    background-color: #1abc9c;
    color: red;
}

.notThisMonth {
    color: lightgrey;
}

.approved {
    background-color: green;
}

.needsApproval {
    background-color: red;
}

ion-header, .toolbar-background {
    background-color: initial !important;
    // background-color: rgba(0,0,0,0) !important;

    &:after {
      height: 0  !important;
    }
  }

  .calendarTransparent {
      background-color: transparent !important;
  }
  