<ion-header mode="wp">
  <ion-navbar mode="wp">
  </ion-navbar>
</ion-header>

<ion-content padding class="handifyBg">

  <ion-grid text-center>
    <ion-row class="month">
      <ion-col col-4 text-center (click)="monthMinus()">&#10094;</ion-col>

      <ion-col col-16 text-center *ngIf="month == 5">May 2017</ion-col>
      <ion-col col-16 text-center *ngIf="month == 6">June 2017</ion-col>
      <ion-col col-16 text-center *ngIf="month == 7">July 2017</ion-col>

      <ion-col col-4 text-center (click)="monthPlus()">&#10095;</ion-col>
    </ion-row>
    <ion-row class="weekdays">
      <ion-col col-2></ion-col>
      <ion-col col-3>Mon</ion-col>
      <ion-col col-3>Tue</ion-col>
      <ion-col col-3>Wed</ion-col>
      <ion-col col-3>Thu</ion-col>
      <ion-col col-3>Fri</ion-col>
      <ion-col col-3>Sat</ion-col>
      <ion-col col-3>Sun</ion-col>
      <ion-col col-1></ion-col>
    </ion-row>

    <div *ngIf="month == 5">
      <ion-row class="days">
        <ion-col col-2></ion-col>
        <ion-col col-3 *ngIf="day != 1" (click)="dayOne()">1</ion-col>
        <ion-col col-3 *ngIf="day == 1" class="daySelected">1</ion-col>
        <ion-col col-3 *ngIf="day != 2" (click)="dayTwo()">2</ion-col>
        <ion-col col-3 *ngIf="day == 2" class="daySelected">2</ion-col>
        <ion-col col-3 *ngIf="day != 3" (click)="dayThree()">3</ion-col>
        <ion-col col-3 *ngIf="day == 3" class="daySelected">3</ion-col>
        <ion-col col-3 *ngIf="day != 4" (click)="dayFour()">4</ion-col>
        <ion-col col-3 *ngIf="day == 4" class="daySelected">4</ion-col>
        <ion-col col-3 *ngIf="day != 5" (click)="dayFive()">5</ion-col>
        <ion-col col-3 *ngIf="day == 5" class="daySelected">5</ion-col>
        <ion-col col-3 *ngIf="day != 6" (click)="daySix()">6</ion-col>
        <ion-col col-3 *ngIf="day == 6" class="daySelected">6</ion-col>
        <ion-col col-3 *ngIf="day != 7" (click)="daySeven()">7</ion-col>
        <ion-col col-3 *ngIf="day == 7" class="daySelected">7</ion-col>
        <ion-col col-1></ion-col>
      </ion-row>

      <ion-row class="days">
        <ion-col col-2></ion-col>
        <ion-col col-3 *ngIf="day != 8" (click)="dayEight()">8</ion-col>
        <ion-col col-3 *ngIf="day == 8" class="daySelected">8</ion-col>
        <ion-col col-3 *ngIf="day != 9" (click)="dayNine()">9</ion-col>
        <ion-col col-3 *ngIf="day == 9" class="daySelected">9</ion-col>
        <ion-col col-3 *ngIf="day != 10" (click)="dayTen()">10</ion-col>
        <ion-col col-3 *ngIf="day == 10" class="daySelected">10</ion-col>
        <ion-col col-3 *ngIf="day != 11" (click)="dayEleven()">11</ion-col>
        <ion-col col-3 *ngIf="day == 11" class="daySelected">11</ion-col>
        <ion-col col-3 *ngIf="day != 12" (click)="dayTwelve()">12</ion-col>
        <ion-col col-3 *ngIf="day == 12" class="daySelected">12</ion-col>
        <ion-col col-3 *ngIf="day != 13" (click)="dayThirteen()">13</ion-col>
        <ion-col col-3 *ngIf="day == 13" class="daySelected">13</ion-col>
        <ion-col col-3 *ngIf="day != 14" (click)="dayFourteen()">14</ion-col>
        <ion-col col-3 *ngIf="day == 14" class="daySelected">14</ion-col>
        <ion-col col-1></ion-col>
      </ion-row>

      <ion-row class="days">
        <ion-col col-2></ion-col>
        <ion-col col-3 *ngIf="day != 15" (click)="dayFifteen()">15</ion-col>
        <ion-col col-3 *ngIf="day == 15" class="daySelected">15</ion-col>
        <ion-col col-3 *ngIf="day != 16" (click)="daySixteen()">16</ion-col>
        <ion-col col-3 *ngIf="day == 16" class="daySelected">16</ion-col>
        <ion-col col-3 *ngIf="day != 17" (click)="daySeventeen()">17</ion-col>
        <ion-col col-3 *ngIf="day == 17" class="daySelected">17</ion-col>
        <ion-col col-3 *ngIf="day != 18" (click)="dayEighteen()">18</ion-col>
        <ion-col col-3 *ngIf="day == 18" class="daySelected">18</ion-col>
        <ion-col col-3 *ngIf="day != 19" (click)="dayNineteen()">19</ion-col>
        <ion-col col-3 *ngIf="day == 19" class="daySelected">19</ion-col>
        <ion-col col-3 *ngIf="day != 20" (click)="dayTwenty()">20</ion-col>
        <ion-col col-3 *ngIf="day == 20" class="daySelected">20</ion-col>
        <ion-col col-3 *ngIf="day != 21" (click)="dayTwentyOne()">21</ion-col>
        <ion-col col-3 *ngIf="day == 21" class="daySelected">21</ion-col>
        <ion-col col-1></ion-col>
      </ion-row>

      <ion-row class="days">
        <ion-col col-2></ion-col>
        <ion-col col-3 *ngIf="day != 22" (click)="dayTwentyTwo()">22</ion-col>
        <ion-col col-3 *ngIf="day == 22" class="daySelected">22</ion-col>
        <ion-col col-3 *ngIf="day != 23" (click)="dayTwentyThree()">23</ion-col>
        <ion-col col-3 *ngIf="day == 23" class="daySelected">23</ion-col>
        <ion-col col-3 *ngIf="day != 24" (click)="dayTwentyFour()">24</ion-col>
        <ion-col col-3 *ngIf="day == 24" class="daySelected">24</ion-col>
        <ion-col col-3 *ngIf="day != 25" (click)="dayTwentyFive()">25</ion-col>
        <ion-col col-3 *ngIf="day == 25" class="daySelected">25</ion-col>
        <ion-col col-3 *ngIf="day != 26" (click)="dayTwentySix()">26</ion-col>
        <ion-col col-3 *ngIf="day == 26" class="daySelected">26</ion-col>
        <ion-col col-3 *ngIf="day != 27" (click)="dayTwentySeven()">27</ion-col>
        <ion-col col-3 *ngIf="day == 27" class="daySelected">27</ion-col>
        <ion-col col-3 *ngIf="day != 28" (click)="dayTwentyEight()">28</ion-col>
        <ion-col col-3 *ngIf="day == 28" class="daySelected">28</ion-col>
        <ion-col col-1></ion-col>
      </ion-row>

      <ion-row class="days">
        <ion-col col-2></ion-col>
        <ion-col col-3 *ngIf="day != 29" (click)="dayTwentyNine()">29</ion-col>
        <ion-col col-3 *ngIf="day == 29" class="daySelected">29</ion-col>
        <ion-col col-3 *ngIf="day != 30" (click)="dayThirty()">30</ion-col>
        <ion-col col-3 *ngIf="day == 30" class="daySelected">30</ion-col>
        <ion-col col-3 *ngIf="day != 31" (click)="dayThirtyOne()">31</ion-col>
        <ion-col col-3 *ngIf="day == 31" class="daySelected">31</ion-col>
        <ion-col col-3 class="notThisMonth">1</ion-col>
        <ion-col col-3 class="notThisMonth">2</ion-col>
        <ion-col col-3 class="notThisMonth">3</ion-col>
        <ion-col col-3 class="notThisMonth">4</ion-col>
        <ion-col col-1></ion-col>
      </ion-row>

      <ion-row class="days">
        <ion-col></ion-col>
        <ion-col col-3 class="notThisMonth">5</ion-col>
        <ion-col col-3 class="notThisMonth">6</ion-col>
        <ion-col col-3 class="notThisMonth">7</ion-col>
        <ion-col col-3 class="notThisMonth">8</ion-col>
        <ion-col col-3 class="notThisMonth">9</ion-col>
        <ion-col col-3 class="notThisMonth">10</ion-col>
        <ion-col col-3 class="notThisMonth">11</ion-col>
        <ion-col col-1></ion-col>
      </ion-row>
    </div>

    <div *ngIf="month == 6">
      <ion-row class="days">
        <ion-col col-2></ion-col>
        <ion-col col-3 class="notThisMonth">29</ion-col>
        <ion-col col-3 class="notThisMonth">30</ion-col>
        <ion-col col-3 class="notThisMonth">31</ion-col>
        <ion-col col-3 *ngIf="day != 1" (click)="dayOne()">1</ion-col>
        <ion-col col-3 *ngIf="day == 1" class="daySelected">1</ion-col>
        <ion-col col-3 *ngIf="day != 2" (click)="dayTwo()">2</ion-col>
        <ion-col col-3 *ngIf="day == 2" class="daySelected">2</ion-col>
        <ion-col col-3 *ngIf="day != 3" (click)="dayThree()">3</ion-col>
        <ion-col col-3 *ngIf="day == 3" class="daySelected">3</ion-col>
        <ion-col col-3 *ngIf="day != 4" (click)="dayFour()">4</ion-col>
        <ion-col col-3 *ngIf="day == 4" class="daySelected">4</ion-col>
        <ion-col col-1></ion-col>
      </ion-row>

      <ion-row class="days">
        <ion-col col-2></ion-col>
        <ion-col col-3 *ngIf="day != 5" (click)="dayFive()">5</ion-col>
        <ion-col col-3 *ngIf="day == 5" class="daySelected">5</ion-col>
        <ion-col col-3 *ngIf="day != 6" (click)="daySix()">6</ion-col>
        <ion-col col-3 *ngIf="day == 6" class="daySelected">6</ion-col>
        <ion-col col-3 *ngIf="day != 7" (click)="daySeven()">7</ion-col>
        <ion-col col-3 *ngIf="day == 7" class="daySelected">7</ion-col>
        <ion-col col-3 *ngIf="day != 8" (click)="dayEight()">8</ion-col>
        <ion-col col-3 *ngIf="day == 8" class="daySelected">8</ion-col>
        <ion-col col-3 *ngIf="day != 9" (click)="dayNine()">9</ion-col>
        <ion-col col-3 *ngIf="day == 9" class="daySelected">9</ion-col>
        <ion-col col-3 *ngIf="day != 10" (click)="dayTen()">10</ion-col>
        <ion-col col-3 *ngIf="day == 10" class="daySelected">10</ion-col>
        <ion-col col-3 *ngIf="day != 11" (click)="dayEleven()">11</ion-col>
        <ion-col col-3 *ngIf="day == 11" class="daySelected">11</ion-col>
        <ion-col col-1></ion-col>
      </ion-row>

      <ion-row class="days">
        <ion-col col-2></ion-col>
        <ion-col col-3 *ngIf="day != 12" (click)="dayTwelve()">12</ion-col>
        <ion-col col-3 *ngIf="day == 12" class="daySelected">12</ion-col>
        <ion-col col-3 *ngIf="day != 13" (click)="dayThirteen()">13</ion-col>
        <ion-col col-3 *ngIf="day == 13" class="daySelected">13</ion-col>
        <ion-col col-3 *ngIf="day != 14" (click)="dayFourteen()">14</ion-col>
        <ion-col col-3 *ngIf="day == 14" class="daySelected">14</ion-col>
        <ion-col col-3 *ngIf="day != 15" (click)="dayFifteen()">15</ion-col>
        <ion-col col-3 *ngIf="day == 15" class="daySelected">15</ion-col>
        <ion-col col-3 *ngIf="day != 16" (click)="daySixteen()">16</ion-col>
        <ion-col col-3 *ngIf="day == 16" class="daySelected">16</ion-col>
        <ion-col col-3 *ngIf="day != 17" (click)="daySeventeen()">17</ion-col>
        <ion-col col-3 *ngIf="day == 17" class="daySelected">17</ion-col>
        <ion-col col-3 *ngIf="day != 18" (click)="dayEighteen()">18</ion-col>
        <ion-col col-3 *ngIf="day == 18" class="daySelected">18</ion-col>
        <ion-col col-1></ion-col>
      </ion-row>

      <ion-row class="days">
        <ion-col col-2></ion-col>
        <ion-col col-3 *ngIf="day != 19" (click)="dayNineteen()">19</ion-col>
        <ion-col col-3 *ngIf="day == 19" class="daySelected">19</ion-col>
        <ion-col col-3 *ngIf="day != 20" (click)="dayTwenty()">20</ion-col>
        <ion-col col-3 *ngIf="day == 20" class="daySelected">20</ion-col>
        <ion-col col-3 *ngIf="day != 21" (click)="dayTwentyOne()">21</ion-col>
        <ion-col col-3 *ngIf="day == 21" class="daySelected">21</ion-col>
        <ion-col col-3 *ngIf="day != 22" (click)="dayTwentyTwo()">22</ion-col>
        <ion-col col-3 *ngIf="day == 22" class="daySelected">22</ion-col>
        <ion-col col-3 *ngIf="day != 23" (click)="dayTwentyThree()">23</ion-col>
        <ion-col col-3 *ngIf="day == 23" class="daySelected">23</ion-col>
        <ion-col col-3 *ngIf="day != 24" (click)="dayTwentyFour()">24</ion-col>
        <ion-col col-3 *ngIf="day == 24" class="daySelected">24</ion-col>
        <ion-col col-3 *ngIf="day != 25" (click)="dayTwentyFive()">25</ion-col>
        <ion-col col-3 *ngIf="day == 25" class="daySelected">25</ion-col>
        <ion-col col-1></ion-col>
      </ion-row>

      <ion-row class="days">
        <ion-col col-2></ion-col>
        <ion-col col-3 *ngIf="day != 26" (click)="dayTwentySix()">26</ion-col>
        <ion-col col-3 *ngIf="day == 26" class="daySelected">26</ion-col>
        <ion-col col-3 *ngIf="day != 27" (click)="dayTwentySeven()">27</ion-col>
        <ion-col col-3 *ngIf="day == 27" class="daySelected">27</ion-col>
        <ion-col col-3 *ngIf="day != 28" (click)="dayTwentyEight()">28</ion-col>
        <ion-col col-3 *ngIf="day == 28" class="daySelected">28</ion-col>
        <ion-col col-3 *ngIf="day != 29" (click)="dayTwentyNine()">29</ion-col>
        <ion-col col-3 *ngIf="day == 29" class="daySelected">29</ion-col>
        <ion-col col-3 *ngIf="day != 30" (click)="dayThirty()">30</ion-col>
        <ion-col col-3 *ngIf="day == 30" class="daySelected">30</ion-col>
        <ion-col col-3 class="notThisMonth">1</ion-col>
        <ion-col col-3 class="notThisMonth">2</ion-col>
        <ion-col col-1></ion-col>
      </ion-row>

      <ion-row class="days">
        <ion-col></ion-col>
        <ion-col col-3 class="notThisMonth">3</ion-col>
        <ion-col col-3 class="notThisMonth">4</ion-col>
        <ion-col col-3 class="notThisMonth">5</ion-col>
        <ion-col col-3 class="notThisMonth">6</ion-col>
        <ion-col col-3 class="notThisMonth">7</ion-col>
        <ion-col col-3 class="notThisMonth">8</ion-col>
        <ion-col col-3 class="notThisMonth">9</ion-col>
        <ion-col col-1></ion-col>
      </ion-row>
    </div>

    <div *ngIf="month == 7">
      <ion-row class="days">
        <ion-col col-2></ion-col>
        <ion-col col-3 class="notThisMonth">26</ion-col>
        <ion-col col-3 class="notThisMonth">27</ion-col>
        <ion-col col-3 class="notThisMonth">28</ion-col>
        <ion-col col-3 class="notThisMonth">29</ion-col>
        <ion-col col-3 class="notThisMonth">30</ion-col>
        <ion-col col-3 *ngIf="day != 1" (click)="dayOne()">1</ion-col>
        <ion-col col-3 *ngIf="day == 1" class="daySelected">1</ion-col>
        <ion-col col-3 *ngIf="day != 2" (click)="dayTwo()">2</ion-col>
        <ion-col col-3 *ngIf="day == 2" class="daySelected">2</ion-col>
        <ion-col col-1></ion-col>
      </ion-row>

      <ion-row class="days">
        <ion-col col-2></ion-col>
        <ion-col col-3 *ngIf="day != 3" (click)="dayThree()">3</ion-col>
        <ion-col col-3 *ngIf="day == 3" class="daySelected">3</ion-col>
        <ion-col col-3 *ngIf="day != 4" (click)="dayFour()">4</ion-col>
        <ion-col col-3 *ngIf="day == 4" class="daySelected">4</ion-col>
        <ion-col col-3 *ngIf="day != 5" (click)="dayFive()">5</ion-col>
        <ion-col col-3 *ngIf="day == 5" class="daySelected">5</ion-col>
        <ion-col col-3 *ngIf="day != 6" (click)="daySix()">6</ion-col>
        <ion-col col-3 *ngIf="day == 6" class="daySelected">6</ion-col>
        <ion-col col-3 *ngIf="day != 7" (click)="daySeven()">7</ion-col>
        <ion-col col-3 *ngIf="day == 7" class="daySelected">7</ion-col>
        <ion-col col-3 *ngIf="day != 8" (click)="dayEight()">8</ion-col>
        <ion-col col-3 *ngIf="day == 8" class="daySelected">8</ion-col>
        <ion-col col-3 *ngIf="day != 9" (click)="dayNine()">9</ion-col>
        <ion-col col-3 *ngIf="day == 9" class="daySelected">9</ion-col>

        <ion-col col-1></ion-col>
      </ion-row>

      <ion-row class="days">
        <ion-col col-2></ion-col>
        <ion-col col-3 *ngIf="day != 10" (click)="dayTen()">10</ion-col>
        <ion-col col-3 *ngIf="day == 10" class="daySelected">10</ion-col>
        <ion-col col-3 *ngIf="day != 11" (click)="dayEleven()">11</ion-col>
        <ion-col col-3 *ngIf="day == 11" class="daySelected">11</ion-col>
        <ion-col col-3 *ngIf="day != 12" (click)="dayTwelve()">12</ion-col>
        <ion-col col-3 *ngIf="day == 12" class="daySelected">12</ion-col>
        <ion-col col-3 *ngIf="day != 13" (click)="dayThirteen()">13</ion-col>
        <ion-col col-3 *ngIf="day == 13" class="daySelected">13</ion-col>
        <ion-col col-3 *ngIf="day != 14" (click)="dayFourteen()">14</ion-col>
        <ion-col col-3 *ngIf="day == 14" class="daySelected">14</ion-col>
        <ion-col col-3 *ngIf="day != 15" (click)="dayFifteen()">15</ion-col>
        <ion-col col-3 *ngIf="day == 15" class="daySelected">15</ion-col>
        <ion-col col-3 *ngIf="day != 16" (click)="daySixteen()">16</ion-col>
        <ion-col col-3 *ngIf="day == 16" class="daySelected">16</ion-col>

        <ion-col col-1></ion-col>
      </ion-row>

      <ion-row class="days">
        <ion-col col-2></ion-col>
        <ion-col col-3 *ngIf="day != 17" (click)="daySeventeen()">17</ion-col>
        <ion-col col-3 *ngIf="day == 17" class="daySelected">17</ion-col>
        <ion-col col-3 *ngIf="day != 18" (click)="dayEighteen()">18</ion-col>
        <ion-col col-3 *ngIf="day == 18" class="daySelected">18</ion-col>
        <ion-col col-3 *ngIf="day != 19" (click)="dayNineteen()">19</ion-col>
        <ion-col col-3 *ngIf="day == 19" class="daySelected">19</ion-col>
        <ion-col col-3 *ngIf="day != 20" (click)="dayTwenty()">20</ion-col>
        <ion-col col-3 *ngIf="day == 20" class="daySelected">20</ion-col>
        <ion-col col-3 *ngIf="day != 21" (click)="dayTwentyOne()">21</ion-col>
        <ion-col col-3 *ngIf="day == 21" class="daySelected">21</ion-col>
        <ion-col col-3 *ngIf="day != 22" (click)="dayTwentyTwo()">22</ion-col>
        <ion-col col-3 *ngIf="day == 22" class="daySelected">22</ion-col>
        <ion-col col-3 *ngIf="day != 23" (click)="dayTwentyThree()">23</ion-col>
        <ion-col col-3 *ngIf="day == 23" class="daySelected">23</ion-col>

        <ion-col col-1></ion-col>
      </ion-row>

      <ion-row class="days">
        <ion-col col-2></ion-col>
        <ion-col col-3 *ngIf="day != 24" (click)="dayTwentyFour()">24</ion-col>
        <ion-col col-3 *ngIf="day == 24" class="daySelected">24</ion-col>
        <ion-col col-3 *ngIf="day != 25" (click)="dayTwentyFive()">25</ion-col>
        <ion-col col-3 *ngIf="day == 25" class="daySelected">25</ion-col>
        <ion-col col-3 *ngIf="day != 26" (click)="dayTwentySix()">26</ion-col>
        <ion-col col-3 *ngIf="day == 26" class="daySelected">26</ion-col>
        <ion-col col-3 *ngIf="day != 27" (click)="dayTwentySeven()">27</ion-col>
        <ion-col col-3 *ngIf="day == 27" class="daySelected">27</ion-col>
        <ion-col col-3 *ngIf="day != 28" (click)="dayTwentyEight()">28</ion-col>
        <ion-col col-3 *ngIf="day == 28" class="daySelected">28</ion-col>
        <ion-col col-3 *ngIf="day != 29" (click)="dayTwentyNine()">29</ion-col>
        <ion-col col-3 *ngIf="day == 29" class="daySelected">29</ion-col>
        <ion-col col-3 *ngIf="day != 30" (click)="dayThirty()">30</ion-col>
        <ion-col col-3 *ngIf="day == 30" class="daySelected">30</ion-col>
        <ion-col col-1></ion-col>
      </ion-row>

      <ion-row class="days">
        <ion-col></ion-col>
        <ion-col col-3 *ngIf="day != 31" (click)="dayThirtyOne()">31</ion-col>
        <ion-col col-3 *ngIf="day == 31" class="daySelected">31</ion-col>
        <ion-col col-3 class="notThisMonth">1</ion-col>
        <ion-col col-3 class="notThisMonth">2</ion-col>
        <ion-col col-3 class="notThisMonth">3</ion-col>
        <ion-col col-3 class="notThisMonth">4</ion-col>
        <ion-col col-3 class="notThisMonth">5</ion-col>
        <ion-col col-3 class="notThisMonth">6</ion-col>
        <ion-col col-1></ion-col>
      </ion-row>
    </div>



    <ion-row class="rowSpace23">&nbsp;
    </ion-row>

    <ion-row align-items-baseline>
      <ion-col col-1></ion-col>
      <ion-col col-13 text-left style="font-weight: bold; font-size: 19px; color: white;" *ngIf="month == 5">May {{day}}</ion-col>
      <ion-col col-13 text-left style="font-weight: bold; font-size: 19px; color: white;" *ngIf="month == 6">June {{day}}</ion-col>
      <ion-col col-13 text-left style="font-weight: bold; font-size: 19px; color: white;" *ngIf="month == 7">July {{day}}</ion-col>
      <ion-col col-8 text-right><button color="secondary" ion-button small block mode="wp" (click)="newCalendarEvent()">New event</button></ion-col>
    </ion-row>




    <div class="calendarTransparent" mode="wp" *ngFor="let event of eventList">
      <ion-card *ngIf="day == event?.day && month == event?.month">
        <ion-card-header style="white-space: normal">
          {{event?.userName}} {{event?.startTime}}-{{event?.endTime}}
        </ion-card-header>
        <ion-card-content style="white-space: normal">
          <i>{{event?.note}}</i>
          <br>
          <br>
          <button ion-button mode="wp" class="needsApproval" block small *ngIf="!event?.blueStampedByCoordinator && this.userProfile.userIsCoordinator"
            (click)="blueStamp(event?.eventId, event?.assignedTo)">Needs approval</button>
            <button ion-button mode="wp" class="approved" block small *ngIf="event?.blueStampedByCoordinator && this.userProfile.userIsCoordinator"
              (click)="redStamp(event?.eventId, event?.assignedTo)">Approved &nbsp; &#10003;</button>

              <span *ngIf="!event?.blueStampedByCoordinator && !this.userProfile.userIsCoordinator">Awaiting approval</span>
              <span *ngIf="event?.blueStampedByCoordinator && !this.userProfile.userIsCoordinator">Approved by coordinator</span>
              <ion-row>
                <ion-col col-11>
                  <button ion-button block outline mode="wp" class="calendarEdit" (click)="editCalendarEvent(event?.eventId, event?.assignedTo, event?.startTime, event?.endTime, event?.note)">Edit</button>
                </ion-col>
                <ion-col col-2>
                </ion-col>
                <ion-col col-11>
                  <button ion-button block outline mode="wp" class="calendarEdit" (click)="deleteCalendarEvent(event?.eventId, event?.assignedTo)">Delete</button>
                </ion-col>
              </ion-row>
        </ion-card-content>
      </ion-card>
    </div>

    <div class="calendarTransparent" mode="wp" *ngFor="let event of eventListTwo">
      <ion-card *ngIf="day == event?.day && month == event?.month">
        <ion-card-header style="white-space: normal">
          {{event?.userName}} {{event?.startTime}}-{{event?.endTime}}
        </ion-card-header>
        <ion-card-content style="white-space: normal">
          <i>{{event?.note}}</i>
          <br>
          <br>
          <button ion-button mode="wp" class="needsApproval" block small *ngIf="!event?.blueStampedByCoordinator && this.userProfile.userIsCoordinator"
            (click)="blueStamp(event?.eventId, event?.assignedTo)">Needs approval</button>
            <button ion-button mode="wp" class="approved" block small *ngIf="event?.blueStampedByCoordinator && this.userProfile.userIsCoordinator"
              (click)="redStamp(event?.eventId, event?.assignedTo)">Approved &nbsp; &#10003;</button>

              <span *ngIf="!event?.blueStampedByCoordinator && !this.userProfile.userIsCoordinator">Awaiting approval</span>
              <span *ngIf="event?.blueStampedByCoordinator && !this.userProfile.userIsCoordinator">Approved by coordinator</span>
              <ion-row>
                <ion-col col-11>
                  <button ion-button block outline mode="wp" class="calendarEdit" (click)="editCalendarEvent(event?.eventId, event?.assignedTo, event?.startTime, event?.endTime, event?.note)">Edit</button>
                </ion-col>
                <ion-col col-2>
                </ion-col>
                <ion-col col-11>
                  <button ion-button block outline mode="wp" class="calendarEdit" (click)="deleteCalendarEvent(event?.eventId, event?.assignedTo)">Delete</button>
                </ion-col>
              </ion-row>
        </ion-card-content>
      </ion-card>
    </div>

  </ion-grid>
</ion-content>