// Vi kalder ALT vores css for "navn+Page+hvad den gør"
//
// Eksempler:
//
// .homePageBackground
// .homePageHeaderText
// .homePageTransparentButton
//
//
// Vigtigt at vi holer det nemt og overskueligt!


.coordInfo {
 color: red !important;
}

.coordMargin {
    margin-top: -80px;
    text-align: left;
    line-height: 0.7em;

}