<ion-header>
  <ion-navbar mode="wp">
  </ion-navbar>
</ion-header>


<ion-content padding class="handifyBg">
  <ion-grid text-center>

    <ion-list class="coordMargin2" mode="wp" *ngIf="!userProfile?.userIsCoordinator">
      <ion-item class="coordItem" *ngFor="let coordinator of coordinatorList">

        <ion-row>
          <ion-col col-10>
            <br>
            <br>
            <p class="coordName">{{coordinator?.fullName}}</p>
            <p *ngIf="!userProfile?.userIsCoordinator" class="coordCoord">Coordinator</p>

          </ion-col>
          <ion-col col-14>
          </ion-col>
        </ion-row>

        <div class="whiteContainer2">
          <ion-row>
            <ion-col col-12>
            </ion-col>
            <ion-col col-12>
              <p class="coordName2">My coordinator</p>
              <img src="{{coordinator?.profilePhoto}}" class="coordPhoto">
            </ion-col>
          </ion-row>

          <ion-row class="coordMargin">
            <ion-col col-1>
            </ion-col>
            <ion-col col-11>
              <p class="coordInfo">Birth date: {{coordinator?.birthDate}}</p>
              <p class="coordInfo">Address: {{coordinator?.address}}</p>
              <p class="coordInfo">City: {{coordinator?.city}}</p>
              <p class="coordInfo">Zip: {{coordinator?.zip}}</p>
              <p class="coordInfo">Country: {{coordinator?.country}}</p>
            </ion-col>
            <ion-col col-10>
            </ion-col>
          </ion-row>

          <ion-row class="rowSpace50">&nbsp;</ion-row>
          <div class="borderTest">
            <ion-row>
              <ion-col col-1>
              </ion-col>
              <ion-col col-11 class="profileInfo">
                <p class="coordSummary">Summary</p>
              </ion-col>
              <ion-col col-10>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-1>
              </ion-col>
              <ion-col col-17 class="profileInfo">
                <p class="coordSummary2">{{userProfile?.summary}}</p>
              </ion-col>
              <ion-col col-6>
                <button mode="wp" class="editIcon2" ion-button><ion-icon class="editIcon" name="ios-create-outline"></ion-icon></button>
              </ion-col>
            </ion-row>
          </div>
          <ion-row class="rowSpace100">&nbsp;</ion-row>
          <ion-row class="rowSpace350">&nbsp;</ion-row>
          <ion-row class="rowSpace10">&nbsp;</ion-row>


        </div>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>