// Vi kalder ALT vores css for "navn+Page+hvad den gør"
//
// Eksempler:
//
// .homePageBackground
// .homePageHeaderText
// .homePageTransparentButton
//
//
// Vigtigt at vi holer det nemt og overskueligt!


.coordInfo {
 color: black !important;
 font-size: 12px !important;
}

.coordMargin {
    margin-top: -75px;
    text-align: left;
    line-height: 0.8em;

}

.coordName {
    color: white !important;
    text-align: left;
    line-height: 1px;
}